<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Backbone - Study</title>
  <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="css/custom.css">
</head>
<body>
  <!-- Part 1: Wrap all page content here -->
  <div id="wrap">

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Backbone</h1>
      </div>
      <div class="lead" id="addTask">
        <!--<form action="" class="form-inline">
          <input type="text" class="input-medium" placeholder="Your new Task">
          <input type="submit" class="btn btn-success" value="Add Task">
        </form>-->
      </div>
      <!-- <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
      <p>Use <a href="./sticky-footer-navbar.html">the sticky footer</a> with a fixed navbar if need be, too.</p> -->
    </div>

    <div id="push"></div>
  </div>

  <div id="footer">
    <div class="container">
      <p class="muted credit">Estudo com Backbone por <a href="http://www.indexdigital.com.br">Davi Alves</a>.</p>
    </div>
  </div>


  <script id="personTemplate" type="text/template">
    <strong><%= name %></strong> (<%= age %>) - <%= occupation %>
  </script>
  <script id="taskTemplate" type="text/template">
    <span class="edit"><%= title %></span>
    <button class="delete btn btn-small btn-danger">Delete</button>
  </script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/jquery.js"></script>
  <script src="js/libs/backbone.js"></script>
  <script src="css/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
